body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

table {
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table th, table td {
    border: 1px solid #dddddd;
    padding: 8px 15px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #f5f5f5;
}

table td:nth-child(2) {
  text-align: center;
  vertical-align: middle;
}

button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
