.Cabecera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.Cabecera :is(h1,p) {
    text-align: center;
    margin: 0.2em;
}

.Cabecera h1 {
    margin-top: 3vh;
}

.Cabecera p {
    margin-bottom: 3vh;
}