body, html {
  height: 100vh;
  margin: 0;
  background-image: url('./assets/fondo.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffffff;
  font-family: Rubik, Helvetica, sans-serif;
  background-color: #333333;
}

header>h1 {
  color: #ffffff;
  text-align: center;
  font-size: 3em;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0.5em;
  font-weight: bolder;
  text-shadow: 0 0 20px rgb(21, 23, 146); 
}

em {
  font-style: normal;
  text-shadow: 0 0 20px rgb(194, 22, 22); 
}

main {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 0 auto;
  max-width: 1200px;
}

#lista-peliculas {
  margin-top: 40px;
  list-style: none;
}

li {
  max-width: 232px;
  margin: 0.5em;
  padding: 0.5em 10px;
  border-radius: 0.5em;
  background-color: #ffffffcc;
  color: #333333;
  font-weight: bold;
  cursor: pointer;
}

li:hover {
  background-color: #ffffff;
}

#info {
  color: #333333;
  max-width: 700px;
  min-height: 347px;
  background-color: #ffffffcc;
  border-radius: 0.5em;
  margin: 0 20px;
  padding: 0 20px;
  font-weight: bolder;
}

#datos-pelicula {
  font-family: Quicksand, Helvetica, sans-serif;
}

strong {
  font-family: Rubik, Helvetica, sans-serif;
  font-weight: bolder;
}

#loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  padding-left: 40px;
}

#loading img {
  max-width: 100%;
  max-height: 100%;
}

.oculto {
  visibility: hidden;
}

.searching {
  position: fixed;
  top: 15%;
  left: 22%;
  max-width: 500px;
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
  background-color: #ffffffcc;
  border-radius: 0.5em;
  color: #333;
}

.error {
  position: fixed;
  top: 15%;
  left: 23%;
  max-width: 500px;
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
  background-color: #d32f2f;
  border-radius: 0.5em;
  color: #fff;
}