.taquilla {
    display: flex;
    align-content: center;
    justify-content: center;

    margin: 2em 7em 2em auto;

    width: 30%;

    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;

    background-color: #f4fff3;

    box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.3);
}

.taquilla>p {
    margin: 5%;

    font-size: 40px;
    font-weight: bolder;
    
    color: black;
}