.PeliculasPage-container {
    background-color: #242424;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 40px auto;
}

.PeliculasPage h1 {
    color: #EAEAEA;
    font-size: 32px;
    margin-bottom: 20px;
    border-bottom: 3px solid #3A3A3A;
    padding-bottom: 10px;
    text-align: center;
}